%h1 owners

%table.table#owner_table
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @owners.each do |owner|
      = render "owner", :owner => owner
    = render "owner", :owner => nil
    = render "form_ajax", :owner => @owner