%h1 #{@owner.name}'s tasks
= "there is nothing here, add a task" if @owner.tasks.length == 0
%table.table
  %thead
    %tr
      %th #
      %th Title
      %th Category
      %th Actions
  %tbody
    - @owner.tasks.each do |task|
      = render "tasks/task", :task => task