%h1 tasks
= "there is nothing here, add a task" if @tasks.length == 0
%table.table
  %thead
    %tr
      %th #
      %th Title
      %th Due Date
      %th Owner
      %th Category
      %th Actions
  %tbody
    - @tasks.each do |task|
      = render "task", :task => task